body {
    background-color: #ff632e;
    font-family: IM Fell French Canon SC;
}

footer{
    text-align: center;
}

nav{
    text-align: center;
}
.caption-color{
    color: black;
    font-weight: bold;
}
.header-color{
    font-weight: bold;
}

a{
    color: black;
}

.collapse{
    background-color: #aa5639;
    color: white;
}

.card{
    background-color: #553529;
}
.text-color {
    color: white;
}
.otherNews{
    margin-top: 2em;
}
